.container{
    display: flex;
    flex-flow: row nowrap;
}
.menu{
    width: 20%;
}
.cats-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: auto;
}
.cat {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 8px;
}
.cat-name, p {
   text-align: center;
}
.cat-img {
   width: 100%;
}